body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}


.p{
text-align:right;
}
h1 {
  color: #ffffff;
  margin-left: 30px;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.containers{
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.text{
background-color: #333; /* Цвет фона меню */
display: flex;
justify-content: center;
}


.menu {
list-style: none;
padding: 0;
display: flex;
}

.menu-item {
margin: 0 15px;
position: relative;
}

.menu-item a {
text-decoration: none;
color: #fff; /* Цвет ссылок в меню */
}

/* Анимация при наведении на пункты меню */
.menu-item::before {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 2px; /* Высота линии */
background-color: #0400ff; /* Цвет линии */
transform: scaleX(0); /* Начальное значение ширины */
transform-origin: right;
transition: transform 0.3s;
}

.menu-item:hover::before {
transform: scaleX(1); /* Увеличение ширины при наведении */
transform-origin: left;
}





/* Стили всплывающего окна по-умолчанию */
.modal {
  position: fixed; /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5); /* фон */
  z-index: 1050;
  opacity: 0; /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 200ms ease-in; 
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in; /* анимация перехода */
  pointer-events: none; /* элемент невидим для событий мыши */
  margin: 0;
  padding: 0;
}
/* При отображении модального окно */
.modal:target {
  opacity: 1; /* делаем окно видимым */
  pointer-events: auto; /* элемент видим для событий мыши */
  overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
@media (min-width: 576px) {
.modal-dialog {
    max-width: 500px;
    margin: 30px auto; /* отображение окна по центру */
}
}
/* Стили для блока с контентом окна */ 
.modal-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
}
@media (min-width: 768px) {
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
}
/* Стили заголовка окна */
.modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
}
.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
}
/* Стили кнопки "х" ("Закрыть")  */
.close {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-decoration: none;
}
/* Стили для закрывающей кнопки в фокусе или наведении */
.close:focus, .close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}
/* Стили блока основного содержимого окна */
.modal-body {
position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
  
}





/*Анимация фона*/
ul {
  list-style-type: none; /* Убирает буллиты */
 }

  body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgb(17, 0, 255) 38%, rgb(142, 33, 0) 68%, rgb(174, 26, 0) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}






/*Система регистрации*/
#form-container {

        
  display: flex;
  justify-content: center;
  align-items: center;
}
#form-inner-container {

  background-color: rgb(51, 0, 255);
  width: 100%;
  
  border-radius: 8px;
  box-shadow: 0 0 20px rgb(30, 0, 255);

}
#sign-up-container, #sign-in-container {

  padding: 60px 80px;
  width: 320px;

}
form input:not(:last-of-type) {

  display: block;
  margin-bottom: 20px;
  border: 1px solid #3300ff;
  background-color: #F6F7FA;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;

}
#form-controls {

  margin-bottom: 25px;

}

label {

  color: #613700;

}

::placeholder {

  color: #002999;
  font-size: larger;
  letter-spacing: 1.2px;
}
#form-controls button {

  border: none;   
  font-size: 110%;

}

#form-controls button:hover {

  cursor: pointer;

}
button[type="submit"] {

  padding: 16px 75px;
  background-color: #0059ff;
  border-radius: 10px;
  color: rgb(34, 0, 255);

}

button[type="submit"]:hover {

  background-color: #001aff;

}

button[type="button"] {

  padding: 16px 0 16px 35px;
  background-color: transparent;
  color: #000636;

}
#terms {

  width: 30px;
  height: 30px;
  appearance: none;
  border: 2px solid #0d0054;
  border-radius: 4px;

}
#terms:checked:after {

  content: '\2713';
  color: #0e005e;
  font-size: 24px;
  position: relative;
  top: 0;
  left: 3px;

}            
label[for="terms"] {

  display: inline-block;
  width: 80%;
  margin-left: 10px;

}

.termsLink {

  color: #00087c;
  text-decoration: none;

}

.hide {

  display: none;


}

.animate-charcter{
  margin-left:50px;
}




@import url(https://fonts.googleapis.com/css?family=Lora);
body {margin:0;}
body {margin:0;}
h1 {
  font-family: monospace;
  color: #ffffff;
  margin-top: 40px;
  margin-left: 50px;
  font-size: 40px;
  
}
nav {
  width: 660px;
  margin: 0 auto 30px;
}

.topmenu > li {
  display: inline-block;
  
  position: relative;
}
.topmenu > li:last-child {
  margin-right: 0;
}
a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  outline: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
.fa {
  font-family: "FontAwesome";
  color: inherit;
  padding-left: 10px;
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.three ul a {
  color: #ff5500;
}
.three .submenu {
  visibility: hidden;
  opacity: 0;
  background: #0a0045;
}
.three ul li:hover .submenu {
  visibility: visible;
  opacity: 1;
}
.topmenu{

}